body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: #2D1E2F;
    font-family: Secular One;
    overflow: hidden;
}

.hidden {
    visibility: hidden;
}

#gameStatus img {
    width: 30vh;
    height: auto;
    color: #F4D8CD;
    margin-bottom: -5vh;
}

#board {
    display: flex;
    flex-direction: column;
    border: 1px solid #FDCA40;
}
  
.row {
    display: flex;
}
  
.cell {
    width: 10vh;
    height: 10vh;
    border: .2vh solid #FDCA40;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
}
  
#board .cell {
    cursor: pointer;
}
  
#board .cell:hover {
    background-color: #F4D8CD;
}
  
button {
    margin-top: 20px;
    padding: 1vh 2vh;
    font-size: 1.8vh;
    border-radius: 1.5vh;
    background: #617073;
    border: #617073;
}

button:hover {
    opacity: 0.8;
}